<h2>タイトル</h2>
<p><%= @okadalist.title %></p>
<h2>本文</h2>
<p><%= @okadalist.body %></p>
<%= attachment_image_tag @okadalist, :image, :fill, 400, 100, format: 'jpeg' %>

<%= link_to "編集", edit_okada_path(@okadalist.id) %>
<%= link_to "削除", destroy_okada_path(@okadalist.id), method: :delete, "data-confirm" => "本当に削除しますか" %>